@import '../../app.scss';

.section {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 760px) {
    flex-direction: row;
    height: 350px;
    position: relative;
    top: 24px;
  }
  @media (min-width: 992px) {
    height: 400px;
  }
}

.section__heading {
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Open sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: $color-header;
  position: relative;
  top: 3px;
  right: 13px;
  letter-spacing: -0.2px;
  @media (min-width: 576px) {
    max-width: 400px;
    font-size: 40px;
    letter-spacing: -0.3px;
    right: 3px;
    top: 40px;
  }
  @media (min-width: 992px) {
    max-width: 800px;
    font-size: 50px;
    letter-spacing: -0.6px;
    top: 80px;
  }
}

.section__imgContainer {
  position: relative;
  top: 24px;
  right: 3px;
  width: 289px;
  height: 243px;
  background-image: url('../../assets/man-laptop-v1.svg');
  background-size: cover;
  @media (min-width: 576px) {
    width: 245px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 25px;
    left: -15px;
  }
  @media (min-width: 992px) {
    width: 339px;
    height: 285px;
    top: 58px;
    left: -15px;
  }
}


.section__contentContainer {
  @media (min-width: 576px) {
    position: relative;
    top: 15px;
    left: 15px;
  }
  @media (min-width: 992px) {
    top: 16px;
    left: 25px;
  }
  @media (min-width: 900px) and (max-width: 1000px) {
    margin-right: 55px;
  }
}

.section__contentTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-family: 'Open sans', sans-serif;
  color: $color-header;
  position: relative;
  left: 3px;
  top: 15px;
  @media (min-width: 576px) {
    left: 1px;
    bottom:0px;
  }
  @media (min-width: 992px) {
    left: 8px;
  }
}

.section__content1 {
  height: 92px;
  overflow: hidden;
  text-align: justify;
  position: relative;
  top: 24px;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  color: $color-text;
  line-height: 24px;
  @media (min-width: 576px) {
    height: 72px;
    max-width: 430px;
  }
  @media (min-width: 992px) {
    max-width: 550px;
    left: 8px;
    letter-spacing: -0.4px;
  }
}

.section__content2 {
  // height:96px;
  overflow: hidden;
  text-align: justify;
  position: relative;
  top: 34px;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  color: $color-text;
  line-height: 24px;
  @media (min-width: 576px) {
    letter-spacing: -0.1px;
    max-width: 430px;
  }
  @media (min-width: 992px) {
    max-width: 550px;
    left: 8px;
  }
}

.section__button--pos {
  position: relative;
  top: 45px;
  @media (min-width: 576px) {
    top: 40px;
    right: 30px;
  }
  @media (min-width: 992px) {
    top: 3px;
    right: 23px;
  }
}
